@import '@algoroot/ui/globals.css';
@layer utilities {
	.grid-container {
		@apply grid;
		display: 'grid';

		grid-template-areas:
			'header'
			'main';
		grid-template-columns: 1fr;
		grid-template-rows: 60px 1fr;
	}

	.trnsition-sidebar-container {
		transition: all 0.25s ease-in-out;
	}

	.area-header {
		grid-area: header;
	}

	.area-main {
		grid-area: main;
	}

	.area-footer {
		grid-area: footer;
	}
}
