{
	"plugins": [
		"@trivago/prettier-plugin-sort-imports",
		"prettier-plugin-tailwindcss"
	],
	"tailwindStylesheet": "./packages/ui/src/styles/globals.css",
	"semi": false,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 80,
	"tabWidth": 2,
	"useTabs": true,
	"experimentalTernaries": true,
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrderCaseInsensitive": true,
	"importOrder": [
		"^('use client'|'use server'|'use strict'|'server-only')$",
		"^react$",
		"^next.*",
		"^(react|lodash|msw|^@(?!tailwind)[^/]|^[^./]*$).*",
		"^@algoroot/ui.*",
		"^@algoroot/shared.*",
		"^@/(apis|swagger).*",
		"^@/(modules).*",
		"^@/(lib|contexts|hooks|hocs|components|utils).*",
		"^(lucide-react)$",
		"^@/.*",
		"^[.].*/.*",
		".*"
	]
}
